<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Garage Manager</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a role="button" (click)="addGarage()">
            + Add Garage
          </a>
        </li>
        <li>
          <a role="button" (click)="addCar()">
            + Add Car
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Garages</h3>
      <ul class="nav nav-pills nav-stacked">
        <li [class.active]="this.garageIndex == undefined">
          <a role="button" (click)="selectUnassigned()">Unassigned cars</a>
        </li>
        <li *ngFor="let garage of garages; let i = index" [class.active]="this.garageIndex == i">
          <a role="button" class="clearfix" (click)="selectGarage(i)">
            {{garage.title}}
            <span role="button" class="badge pull-right" (click)="manageGarage(garage, $event)">edit</span>
            &nbsp;&nbsp;
            <span role="button" class="badge pull-right" (click)="deleteGarage(garage, $event)">delete</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-sm-8">
      <h3>Cars</h3>
      <table class="table" *ngIf="cars.length">
        <thead>
        <tr>
          <th>ID</th>
          <th>Color</th>
          <th>Model</th>
          <th>Manufacturer</th>
          <th>Year</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let car of cars">
          <td>{{car.id}}</td>
          <td>{{car.color}}</td>
          <td>{{car.model}}</td>
          <td>{{car.manufacturer.name}}</td>
          <td>{{car.year}}</td>
          <td>
            <a role="button" (click)="manageCar(car)">Edit</a>&nbsp;&nbsp;&nbsp;
            <a role="button" (click)="deleteCar(car)">Delete</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
