{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Frontend</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="{% static 'angular/styles.6d922485ee3fefdcb91c.css' %}"></head>
<body>
{% csrf_token %}
  <app-root></app-root>
<script src="{% static 'angular/polyfills-es5.a83ac866abc867bfd530.js' %}" nomodule defer></script><script src="{% static 'angular/polyfills-es2015.0fe6949bc5ff4b784062.js' %}" type="module"></script><script src="{% static 'angular/runtime-es2015.4f487dc0e9e780bcd1e2.js' %}" type="module"></script><script src="{% static 'angular/main-es2015.4873d487c18cb1d12a83.js' %}" type="module"></script><script src="{% static 'angular/runtime-es5.4f487dc0e9e780bcd1e2.js' %}" nomodule defer></script><script src="{% static 'angular/main-es5.4873d487c18cb1d12a83.js' %}" nomodule defer></script></body>
</html>
